/* Header */
header {
    background-image: url('../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Navigation bar */
.navbar {
    padding: 0;
}
.navbar-brand {
    font-family: Verdana, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}
.nav-pills .nav-link {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: white !important;
}
.nav-pills .nav-link.active{
    background-color: black;
    border: 1px solid black;
}

/* Background + Title */
.background {
    padding: 250px 0 50px 0;
}
.container-fluid {
    width: 90%;
}
.title {
    font-size: 7vw;
    text-align: center;
    padding: 10px;
    color: white;
}

/* Search */
.form-control {
    border-radius: 100px;
    padding: 40px 30px;
}
.form-control:focus {
    box-shadow: none;
}
.form-control::placeholder {
    font-size: 1.25rem;
    color: #aaa;
    font-style: italic;
}
button.search {
    border-radius: 100px;
    padding: 0 30px;
}